{
  "database": {
    "application": {
      "host": "localhost",
      "schema": "gestorfox",
      "user": "root",
      "password": "root",
      "port": "3306",
      "charset": "utf8"
    }
  }
}
